//font-family: 'Open Sans', sans-serif;
//font-family: 'Pacifico', cursive;
//font-family: 'Raleway', sans-serif;

$baseFont: 'Raleway', sans-serif;
$titleFont : 'Open Sans', sans-serif;
$font-size-root: 62.5%;
$font-size-base: 1.4rem; //14px
$line-height-base: 1.4;

$mainColor : #d14b3a;
$brandColor : #d14b3a;
$secondaryColor : #535142;
$whiteBg: rgb(251, 251, 251);
$whiteColor: rgb(251, 251, 251);

$color-black: #333;
$color-red: #c92b2b;
$color-blue: #2a97dc;
$color-green: #47bfa4;
$font-grey: #464a4c;

$bg-red: rgb(219, 41, 41);
$bg-red2: #ff4242;
$bg-orange: rgb(247, 142, 22);
$bg-yellow: rgb(252, 231, 0);
$bg-green: rgb(131, 201, 18);
$bg-blue: $color-blue;

html{
	font-size: $font-size-root;
	font-family: $baseFont;
}
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

section{padding-top: 70px;padding-bottom: 70px;font-size: 1.8em;}

h1,h2,h3,h4,h5{
	font-family: $titleFont;
	text-align : center;
	margin-bottom: 50px;
	//	color: $color-black;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 76px;
	text-align: left;
	margin-left: -1em;
	padding-top: .5em;
}
h4{
	font-size: 1.2em;
}
h2{
	text-transform: uppercase;
	font-size: 3.7rem;
}

.lightBg{
	color: $secondaryColor;
	background-color: $whiteBg;
}

.mainColorBg{
	color: $whiteColor ;
	background-color: $mainColor ;
}

.red{color:$color-red}
.blue{color:$color-blue}
.green{color:$color-green}

.ml-md{margin-left: 30px;}
.mb-md{margin-bottom: 30px;}
.mr-md{margin-right: 30px;}
.mt-md{margin-top: 30px;}

.pl-md{padding-left: 30px;}
.pb-md{padding-bottom: 30px;}
.pr-md{padding-right: 30px;}
.pt-md{padding-top: 30px;}

.vam{vertical-align: middle;}
.tac{text-align: center;}
.dib{display: inline-block;}
.subtitle{
	font-weight: bold;
	font-size: 2.8em;
}
.brandColor{
	color: $brandColor;
}
/*---------------------Header--------------------*/

header{
	padding-bottom: 205px; //decalage background image
	#links{
		text-align: right;
		a{
			color: $secondaryColor;
			text-decoration: none;
			text-align: center;
			margin: 0 10px;
			padding: 10px 9px;
			font-size: 1.8rem;
			position: relative;
			&:after{
				content:"";
				width: 0px;
				position: absolute;
				background-color: $mainColor;
				height: 3px;
				top: 40px;
				left:50%;
				transition: all .2s ease;
			}
			&:hover:after, &.active:after{
				width: 100%;
				left: 0;
			}
		}
	}
}

/*---------------------Présentation--------------------*/

#presentation{
	font-size: 1rem;
	p{
		@extend .pt-md;
		font-size: 1.8em;
	}

}

/*---------------------Présentation--------------------*/

#promo{
	padding: 0;
	background-image: url(../img/promo.jpg);
	height: 396px;
	width: 1306px;
	margin: 30px auto;
	text-align: right;
	font-size: 1rem;
	article{
		width: 755px;
		text-align: left;
		padding: 30px;
		margin: 30px;
		display: inline-block;
		font-size: 1.6em;
		h3{
			text-align: left;
			color: $mainColor;
			font-size: 2em;
		}
		div{
			text-align: right;
			font-size: .8em;
			margin-bottom: 1em;
		}
		a{
			font-size: 1.2em;
			float: right;
			display: inline-block;
			padding: 5px 15px;
			border: 2px solid;
			transition: all .3s ease;
			&:hover{
				color: $mainColor;
				background-color: $whiteColor;
				border: 2px $mainColor solid;

			}
		}
	}
}

/*---------------------Explications--------------------*/

#explanation{

}
