//font-family: 'Open Sans', sans-serif;
//font-family: 'Pacifico', cursive;
//font-family: 'Raleway', sans-serif;

$baseFont: 'Raleway', sans-serif;
$titleFont : 'Open Sans', sans-serif;
$font-size-root: 62.5%;
$font-size-base: 1.4rem; //14px
$line-height-base: 1.4;

$mainColor : #d14b3a;
$brandColor : #d14b3a;
$secondaryColor : #535142;
$whiteBg: rgb(251, 251, 251);
$whiteColor: rgb(251, 251, 251);

$color-black: #333;
$color-red: #c92b2b;
$color-blue: #2a97dc;
$color-green: #47bfa4;
$font-grey: #464a4c;

$bg-red: rgb(219, 41, 41);
$bg-red2: #ff4242;
$bg-orange: rgb(247, 142, 22);
$bg-yellow: rgb(252, 231, 0);
$bg-green: rgb(131, 201, 18);
$bg-blue: $color-blue;

html{
	font-size: $font-size-root;
	font-family: $baseFont;
}
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section{padding-top: 70px;padding-bottom: 70px;font-size: 1.8em;}

h1,h2,h3,h4,h5{
	font-family: $titleFont;
	text-align : center;
	margin-bottom: 50px;
	//	color: $color-black;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 7.6em;
	text-align: left;
	margin-left: -1em;
	padding-top: .5em;
}
h4{
	font-size: 2.0em;
}
h2{
	text-transform: uppercase;
	font-size: 3.7rem;
	z-index: 1;
}
h3{
	font-size: 2.5rem;
	text-align: left;
}

.lightBg{
	color: $secondaryColor;
	background-color: $whiteBg;
}

.mainColorBg{
	color: $whiteColor ;
	background-color: $mainColor ;
}

.red{color:$color-red}
.blue{color:$color-blue}
.green{color:$color-green}

.ml-md{margin-left: 30px;}
.mb-md{margin-bottom: 30px;}
.mr-md{margin-right: 30px;}
.mt-md{margin-top: 30px;}

.pl-md{padding-left: 30px;}
.pb-md{padding-bottom: 30px;}
.pr-md{padding-right: 30px;}
.pt-md{padding-top: 30px;}

.vam{vertical-align: middle;}
.tac{text-align: center;}
.dib{display: inline-block;}
.subtitle{
	font-weight: bold;
	font-size: 2.2rem;
}
.brandColor{
	color: $brandColor;
}
section{
	font-size: 1rem;
}
p{
	font-size: 1.6rem;
}

.fili{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}
/*---------------------Header--------------------*/

header{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 24%; //decalage background image
	#links{
		text-align: right;
		a{
			color: $secondaryColor;
			text-decoration: none;
			text-align: center;
			margin: 0 10px;
			padding: 10px 9px;
			font-size: 1.8rem;
			position: relative;
			&:after{
				content:"";
				width: 0px;
				position: absolute;
				background-color: $mainColor;
				height: 3px;
				top: 40px;
				left:50%;
				transition: all .2s ease;
			}
			&:hover:after, &.active:after{
				width: 100%;
				left: 0;
			}
		}
	}
}

@media (max-width: 375px){
	h1{
		font-size: 4.3em;
		margin: 0;
	}
	header{
		height: 350px;
		background-position: bottom;
		background-size: 100% auto;
		background-color: #f1eee7;
		padding-bottom: 0;
		figure{
			margin: 0;
		}
	}
	nav{
		img{
			height: 80%;
		}
	}
	#links{
		display: none !important;
	}
}

/*---------------------Présentation--------------------*/

#presentation{
	padding-top: 112px;
	font-size: 1rem;
	p{
		@extend .pt-md;
		font-size: 1.8em;
	}
	img{
		top:-103px;
		width: 76px;
	}
	.subtitle{
		padding-top: 20px;
		margin: 0 auto;
		display: block;
	}

}

/*---------------------Présentation--------------------*/

#promo{
	padding: 0;
	background-image: url(../img/promo.jpg);
	height: 396px;
	width: 1306px;
	margin: 30px auto;
	text-align: right;
	font-size: 1rem;
	article{
		width: 755px;
		text-align: left;
		padding: 30px;
		margin: 30px;
		display: inline-block;
		font-size: 1.6em;
		h3{
			color: $mainColor;
		}
		div{
			text-align: right;
			font-size: .8em;
			margin-bottom: 1em;
		}
		a{
			font-size: 1.2em;
			float: right;
			display: inline-block;
			padding: 5px 15px;
			border: 2px solid;
			transition: all .3s ease;
			&:hover{
				color: $mainColor;
				background-color: $whiteColor;
				border: 2px $mainColor solid;
			}
		}
	}
}
#promomobile{
	background-image: url(../img/promomobile.jpg);
	padding: 0;
	width: 375px;
	height: 829px;
	margin: 0 auto;
	font-size: 1rem;
	position: relative;
	article{
		position: absolute;
		bottom: 0;
		width: 375px;
		text-align: left;
		padding: 30px;
		margin: 0;
		display: inline-block;
		font-size: 1.6em;
		background-color: rgba(255, 255, 255, 0.85);
		h3{
			color: $mainColor;
		}
		div{
			text-align: right;
			font-size: .8em;
			margin-bottom: 1em;
		}
		a{
			font-size: 1.2em;
			float: right;
			display: inline-block;
			padding: 5px 15px;
			border: 2px solid;
			transition: all .3s ease;
			&:hover{
				color: $mainColor;
				background-color: $whiteColor;
				border: 2px $mainColor solid;
			}
		}
	}
}

/*---------------------Explications--------------------*/

#explanation{
	div{
		height: 474px;
		//		display: flex;
		//		align-items: center;
	}
	article div div{
		padding: 8%;
	}
	.subtitle{
		font-size: 1.8em;
	}
	figure{
		padding: 0;
		margin: 0;
	}
	p{
		font-size: 1.6em;
	}

}
@media (max-width: 375px){
	#explanation {
		font-size: 0.9rem;
		div{
			height: auto;
		}
		article:last-child{
			display: flex;
			flex-direction: column;
			&>figure{
				order: 1;
			}
		}
	}
}

/*---------------------Visite--------------------*/

#visite{
	.headers,h3{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	h3{font-weight: bold;
		margin-bottom: 10px;}
	img{
		top:34px;
		width: 200px;
	}
	ul{
		margin: 30px 0;
		list-style: none;
		font-size: 1.8rem;
	}
	li:before{
		content :"- ";
	}
	figure{
		text-align: center;
		img{
			width: 80%;
		}
	}
}
